

	
snippet hhh
//===----------------------------------------------------------------------===//
//
//  vim: ft=java tw=80
//
//  Date:    `!v strftime("%m/%d/%Y %H:%m:%S")`
//  Creator: `git config --global --get "user.name"` <`git config --global --get "user.email"`>
//
//===----------------------------------------------------------------------===//
endsnippet
